%header.page-header
  %h3 Pages
.well
  %table.table
    %thead
      %tr
        %th #
        %th Name
        %th Status
        %th Preview
        %th Destroy
    %tbody
      - @pages.each_with_index do |page,i| 
        %tr
          %td= (i + 1)
          %td= link_to page.name.humanize, edit_page_path(page)
          %td= page.status.humanize
          %td= link_to 'Preview', page_preview_path(page), :target => '_blank'
          %td= link_to 'Destroy', page_path(page), :method => :delete
